################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimpleViewOutlook/FileContentIndex/23a89a93-b155-416b-a9a1-f644076dd775.vsidx
*.vsidx
*.lock
*.wsuo
/.vs
/OutlookToolbar/.vs/OutlookToolbar
/OutlookToolbar/bin/Debug
/OutlookToolbar/obj
/OutlookToolbar/pkgobj/Debug
/OutlookToolbarWeb/bin
/OutlookToolbarWeb/obj
/OutlookToolbar/.vs
/OutlookToolbarWeb/.vs
/OutlookToolbarWeb/node_modules
/containers/nginx/
/docker-compose.yml
/containers/node/lib/public/localhost.crt
/containers/node/lib/public/localhost.key
/containers/node/lib/public/obj/Debug
/containers/node/node_modules
/containers/node/lib/public/.vs
/containers/node/lib/public.zip
/containers/node/package-lock.json
