html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: flex-start;
    align-items: center; /* Center children horizontally */
    overflow: hidden; /* Prevent scrolling */
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.content-main {
    /* Remove the width property to allow it to be determined by content size */
    margin: 0; /* Removed margin to use flexbox centering */
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    /* Add padding if needed, for example: */

    box-sizing: border-box; /* Include padding in the content's size */
}

.button-container {
    display: flex;
    background-color: #ADD8E6; /* Light blue background */
    padding: 5px;
}

.ms-Button {
    display: flex;
    align-items: center; /* Align the image and text inside the button */
    border: none; /* Remove default button borders */
    background: none; /* Remove default button background */
    cursor: pointer; /* Change cursor to pointer on hover */
}

    .ms-Button img {
        margin-right: 5px; /* This adds space between the image and the text */
    }

    .ms-Button:not(:last-child) {
        border-right: 1px solid #A9A9A9; /* Add a vertical line to the right of each button except the last one */
        width: 80%;
    }

.logo-container {
    display: flex;
    align-items: center;
    border-right: 1px solid #A9A9A9; /* Light gray vertical line */
    padding-right: 10px; /* Space between the line and the first button */
}

p {
    /*display: inline;
    font-size: 16px;
    font-family: math;*/
}

.btnIndex {
    width: 240px;
    border-radius: 10px;
    display: block;
    padding: 10px;
    background: #3e8ff9;
    margin-top: 20px;
    border: 1px solid #3e8ff9;
    cursor: pointer;
    color: #ffffff;
}

    .btnIndex:hover {
        background: #00a4f0;
    }

    .btnIndex p {
        margin: 0;
        font-size: 15px;
    }

button.disabled {
    background-color: lightgray;
    color: black;
    cursor: not-allowed;
}